ENABLE_RANCHER='0'

# ENABLE_RANCHER='1'
# RANCHER_K3S_IMAGE='rancher/k3s:v1.35.5-k3s1'
# RANCHER_CHART_VERSION='2.14.3'
# CERT_MANAGER_VERSION='v1.21.1'
# RANCHER_HOSTNAME='rancher.localhost'
# RANCHER_HTTPS_PORT='8444'

ENABLE_PLATFORM_ARTIFACTS_UI=1
PLATFORM_ARTIFACTS_ROLLOUT_TIMEOUT=10m
